body{
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    padding:0px;
  
    background-color: aquamarine;
}
.maincont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    background-color:rgb(41, 4, 55);
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    justify-content: space-around;
    height:8rem;

}
.middle{
    width:70%;
    display:flex;
    flex-direction: column;
    background-color:rgb(48, 48, 141);
    border:rgba(0, 255, 0,0.8);
    border-radius:20px;
    justify-content: center;
    align-items: center;
}
#openfile{
    margin-top:4rem;
    color:gray;
    background-color: transparent;
    border-radius:20px;
    border-color:rgba(99, 98, 98,0.8);
    font-size:90px;
    width:70%;
}
#outputdata{
    margin-top:3rem;
    color:white;
    font-size:70px;

}
#selectfile{
    margin-top:3rem;
    color:white;
    font-size:70px;
}
#image{
    width:23rem;
    height:6rem;
    margin:5rem;
}